{% extends 'base.html' %}
{% load avatar_tags %}
{% block searcharea %}
<div class="row">
  <div class="col-sm-12" style="margin-bottom:10px;">
    <h1 >{% block mainpanl %}<span class="label label-danger">搜索</span>{% endblock %}</h1>
  </div>
</div>
{% endblock %}
{% block leftbar %}
					<div class="bs-sidebar leftbar" role="complementary" >
						<ul class="nav bs-sidenav">
              <li class="active"><a href="{% url 'haystack_search' %}?q={{ query|escape }}&m=123">活动卡<i class="fa fa-star pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'haystack_search' %}?q={{ query|escape }}&m=456">标签<i class="fa fa-dashboard pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'haystack_search' %}?q={{ query|escape }}&m=789">用户<i class="fa fa-random pull-right leftbaricon"></i></a></li>
						</ul>
					</div>
{% endblock %}
{% block rightcontent %}
            <form method="GET" action="{% url 'haystack_search' %}">
              {{ form.as_table }}<br />
              <input type="submit" value="search"/>
						</form>
{% if query and page.object_list.0 != None %}
{% for i in page.object_list %}
					<div class="bs-sidebar" role="complementary">
						<ul class="nav bs-sidenav card">
							<li >
							<div class="cardmain">
								<div class="cheader">
									<div class="col-sm-1 cleft">
                    {% avatar i.object.carduser 30 %}
									</div>
									<div class="col-sm-11 cright">
                    <span class="cardtitle"><a href="{{ i.object.id }}">{{ i.object.getitle }}</a></span>
                    <span class="cardtitle"><small >{{ i.object.carduser.get_full_name|slice:":10" }}</small>&nbsp;&nbsp;{% if i.object.getusercount != '' %}<small class="cardusercount"><i class="fa fa-user"></i>&nbsp;{% if i.object.getusercount|trans_for_number > 99 %}99+{% else %}{{ i.object.getusercount }}{% endif %}</small>&nbsp;{% endif %}<small class="carddate"><i class="fa fa-calendar"></i>&nbsp;{{ i.object.getpubdate }}</small></span>
                      <span class="cardinfo"><strong >#</strong>{% for j in i.object.getagstxt %}<small class="cardtag">{{ j }}</small>&nbsp;{% endfor %}</span>
										<hr class="cardivi">
									</div>
								</div>
                {% if i.object.getrecent %}
								<div class="crecently">
									<div class="col-sm-1 cleft">
                    {% avatar i.object.getrecent.carduser 30 %}
									</div>
									<div class="col-sm-11 cright recentcontext">
                    {% if i.object.getrecent.get_context_thumb.0 == 'img' %}
                    <div class="col-sm-2" style="padding-left:0;padding-right:0;">
                      <div class="thumbnail" style="padding:0;margin-bottom:0;border:0;">
                        {% autoescape off %}
                        {{ i.object.getrecent.get_context_thumb.1 }}
                        {% endautoescape %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                    {{ i.object.getrecent.get_context_thumb.2 }}
                    </div>
                    {% elif i.object.getrecent.get_context_thumb.0 == 'embed' %}
                    <div class="col-sm-2" style="min-height:80px;padding:0;margin:0;text-align:center;background-color:#ededef;">
                    <a href="{{ i.object.getrecent.get_context_thumb.1 }}" target="_blank"><i class="fa fa-play fa-3x" style="margin-top:25px;"></i></a>
                    </div>
                    <div class="col-sm-10">
                      <p>{{ i.object.getrecent.get_context_thumb.2 }}</p>
                    </div>
                    {% else %}
                    <div class=col-sm-12">
                      <p>{{ i.object.getrecent.get_context_thumb.2 }}</p>
                    </div>
                    {% endif %}
									</div>
                </div>
                {% else %}
								<div class="crecently">
									<div class="col-sm-1 cleft">
                  </div>
									<div class="col-sm-11 cright recentcontext">
                    {% if i.object.get_context_thumb.0 == 'img' %}
                    <div class="col-sm-2" style="padding-left:0;padding-right:0;">
                      <div class="thumbnail" style="padding:0;margin-bottom:0;border:0;">
                        {% autoescape off %}
                        {{ i.object.get_context_thumb.1 }}
                        {% endautoescape %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                    {{ i.object.get_context_thumb.2 }}
                    </div>
                    {% elif i.object.get_context_thumb.0 == 'embed' %}
                    <div class="col-sm-2" style="min-height:80px;padding:0;margin:0;text-align:center;background-color:#ededef;">
                    <a href="{{ i.object.getrecent.get_context_thumb.1 }}" target="_blank"><i class="fa fa-play fa-3x" style="margin-top:25px;"></i></a>
                    </div>
                    <div class="col-sm-10">
                      <p>{{ i.object.get_context_thumb.2 }}</p>
                    </div>
                    {% else %}
                    <div class=col-sm-12">
                      <p>{{ i.object.get_context_thumb.2 }}</p>
                    </div>
                    {% endif %}
									</div>
                </div>
                {% endif %}
							</div>
							</li>
						</ul>
					</div>
{% endfor %}
{% else %}
<h3 >No Results </h3>
{% endif %}
{% endblock %}
          {% block pagination %}
          <ul class="pagination">
            {% if paginator.has_previous %}
            <li ><a href="{{ request.get_full_path }}&page={{ paginator.previous_page_number }}"><i class="fa fa-arrow-circle-left"></i></a></li>
            {% endif %}
            {% if pageheadot %}
            <li ><a href="{{ request.get_full_path }}&page=1">1</a></li>
            <li class="disable"><a href="#">...</a></li>
            {% endif %}
            {% for z in phead %}
            <li ><a href="{{ request.get_full_path }}&page={{ z }}">{{ z }}</a></li>
            {% endfor %} 
            <li class="active"><a href="{{ request.get_full_path }}&page={{ page.number }}">{{ page.number }}</a></li>
            {% for k in ptail %}
            <li ><a href="{{ request.get_full_path }}&page={{ k }}">{{ k }}</a></li>
            {% endfor %}
            {% if pagetaildot %}
            <li class="disable"><a href="#">...</a></li>
            <li ><a href="{{ request.get_full_path }}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            {% if paginator.has_next %}
            <li ><a href="{{ request.get_full_path }}&page={{ paginator.next_page_number }}"><i class="fa fa-arrow-circle-right"></i></a></li>
            {% endif %}
          </ul>
          {% endblock %}
