{% extends 'user_auth/index.html' %}
{% load avatar_tags %}
        {% block useremind %}
        {% if messages %}
        <div class="alert alert-success" data-dismiss="alert" aria-hidden="true" id="userremind" >
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
        {% for i in messages %}
        <p >{{ i }}</p>
        {% endfor %}
        </div>
        {% endif %}
        <div class="modal fade" id="upavatar" role="dialog" aria-labelledby="upAavatarLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="upAvatarLabel">更改头像</h4>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'user_auth:cavatar' rquser.id  %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="file" name="avatar" id="id_avatar">
                  </div>
                  <button class="btn btn-info" type="submit">更新</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
          {% block leftbar %}
					<div class="bs-sidebar leftbar" role="complementary" >
						<ul class="nav bs-sidenav" style="padding-top:0;">
              <li ><a href="{% url 'user_auth:index' rquser.id %}" style="text-align:center;padding-left:0;padding-right:0;padding-top:0;margin-bottom:10px;">{% avatar rquser 190 %}</a></li>
              <li class="active"><a href="{% url 'user_auth:useredit' rquser.id %}">编辑<i class="fa fa-pencil pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'user_auth:index' rquser.id %}">动态<i class="fa fa-volume-up pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'user_auth:myprivate' rquser.id %}">私密活动<i class="fa fa-pencil-square-o pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'user_auth:mypublic' rquser.id %}">公开活动<i class="fa fa-external-link pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'user_auth:mymessage' rquser.id %}">信息<i class="fa fa-envelope pull-right leftbaricon"></i></a></li>
              <li ><a href="{% url 'user_auth:myfriends' rquser.id %}">关注<i class="fa fa-group pull-right leftbaricon"></i></a></li>
						</ul>
					</div>
        {% endblock %}
        {% block rightcontent %}
        <div class="row" >
          <div calss="col-sm-12" >
            <div class="col-sm-12">
              <h3 ><span class="label label-info">用户名</span>&nbsp;<small>{{ rquser.get_full_name }}</small>&nbsp;<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#upavatar">更新头像</button></h3>
            </div>
          </div>
        </div>
        <div class="row" >
          <div calss="col-sm-12">
            <div class="col-sm-12">
              <h3 ><span class="label label-success">关于我</span></h3>
              <form action="/" method="post"  role="form">
                <div class="input-group">
                  <input class="form-control" type="text" id="id_something" name="something" value="{{ rquser.something }}">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" >更新</button>
                </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
          <div calss="col-sm-12">
            <div class="col-sm-12">
              <h3 ><span class="label label-warning">我的邮箱</span></h3>
              <form action="/" method="post"  role="form">
                <div class="input-group">
                  <input class="form-control" type="text" id="id_something" name="something" value="{{ rquser.email }}">
                  <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit" >修改</button>
                </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-group" id="editarea">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#collapseOne" data-toggle="collapse" data-parent="#editarea">
                  修改密码
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse {% if pwd %}in{% endif %}" >
              <form action="{% url 'user_auth:cpwd' rquser.id %}" method="POST" style="padding:15px;">
                {% csrf_token %}
                <div class="form-group">
                  <label for"id_old_password">原密码</label>
                  <input type="password" class="form-control" name="old_password" id="id_old_password">
                  {{ form.old_password.errors }}
                </div>
                <div class="form-group">
                  <label for"id_new_password1">新密码</label>
                  <input type="password" class="form-control" name="new_password1" id="id_new_password1">
                  {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                  <label for"id_new_password2">新密码</label>
                  <input type="password" class="form-control" name="new_password2" id="id_new_password2">
                  {{ form.new_password2.errors }}
                </div>
                <input type="submit" class="btn btn-warning" value="更新密码">
              </form>
            </div>
          </div>
        </div>
        {% endblock %}
        {% block pagination %}
        {% endblock %}
