{% extends 'base.html' %}
{% load avatar_tags %}
{% block mainrow %}
<div class="row">
  <div class="col-sm-12" style="margin-bottom:10px;">
    <h1 >{% block mainpanl %}<span class="label label-danger">各位</span>{% endblock %}</h1>
  </div>
</div>
{% block userspanel %}
<div class="row">
  <div class="col-sm-12">
					<div class="bs-sidebar leftbar" role="complementary" >
						<ul class="nav bs-sidenav">
              <li >
              <div class="row">
                <div class="col-sm-12" >
                {% for i in usersobject %}
                <div class="col-sm-4 userswall">
                  <div class="col-sm-3 userinfo">
                  {% avatar i 50 50%}
                  </div>
                  <div class="col-sm-9" style="padding-left:0;padding-right:0;">
                    <p >{{ i.username }}</p>
                    <p class="usersomething">{{ i.get_something }}</p>
                  </div>
                </div>
                {% endfor %}
                </div>
              </div>
              </li>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
{% endblock %}
