{% extends 'base.html' %}
{% load avatar_tags %}
{% block mainrow %}
        <div class="alert alert-success" data-dismiss="alert" id="joins" style="display:none;">
        </div>
        <div class="alert alert-warning " data-dismiss="alert" id="joine" style="display:none;">
        </div>
        <div id="panetar"></div>
<div class="row">
  <div class="col-sm-12" style="margin-bottom:10px;">
    <h1 >{% block mainpanl %}<span class="label label-danger">大家</span>{% endblock %}</h1>
  </div>
</div>
{% block userspanel %}
<div class="row">
  <div class="col-sm-12">
					<div class="bs-sidebar leftbar" role="complementary" >
						<ul class="nav bs-sidenav">
              <li >
              <div class="row">
                <div class="col-sm-12" >
                {% for i in usersobject %}
                <div class="col-sm-4 userswall">
                  <div class="col-sm-3 userinfo">
                  {% avatar i 50 50%}
                  </div>
                  <div class="col-sm-9" style="padding-left:0;padding-right:0;">
                    <p >{{ i.username }}</p>
            <span type="button" target="{{ i.id }}" target-name="{{ i.username }}" class="label label-warning"  onclick="friendaction({{ request.user.id }}, {{ i.id }});" id="check_{{ i.id }}">{% if i.isrefriend %}<i class="fa fa-users"></i>&nbsp;<i class="fa fa-minus-circle" ></i>{% elif i.rconcernme %}<i class="fa fa-minus-circle"></i>{% elif i.meconcernr  %}<i class="fa fa-bookmark"></i>&nbsp;<i class="fa fa-plus-circle"></i>{% else %}<i class="fa fa-plus-circle"></i>{% endif %}</span>
            <a href="{% url 'user_auth:smessage' request.user.id %}?name={{ i.username }}"><span type="button" class="label label-warning" ><i class="fa fa-comment-o leftbaricon"></i></span></a>
                  </div>
            <div class="col-sm-12" style="margin-top:4px;padding-left:0;padding-right:0;">
              {{ i.get_something }}
            </div>
                </div>
                {% endfor %}
                </div>
              </div>
              </li>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
{% endblock %}
        {% block extra_js %}
        <script src="/static/js/postcsrf.js"></script>
        <script src="/static/js/friends.js"></script>
        {% endblock %}
